certbot certonly \
  --dns-route53 \
  --config-dir ./config \
  --work-dir ./work \
  --logs-dir ./logs \
  --non-interactive \
  --agree-tos \
  --email julian@codecollective.us \
  -d app.$BRAND_NAME \
  -d *.app.$BRAND_NAME

cp certs/config/live/codecollective.us/*.pem .

